@{
    ViewBag.Title = "Customer";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<form style="display:none" id="frmPostSearch" method="post" action="/Inventory/SpecificSearchPost">
    <input type="hidden" name="Query" id="hfQuery" value="" />
</form>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-one">
                    <a href="#" class="info-boxtxt" id="ancRoundCount">
                        <div class="info-box-content">
                            <span class="info-box-text">Round Shape</span>
                            <div class="line"></div>
                            <br>            
                            <span class="info-box-number pull-right">0 </span>
                            <img class="" src="../Content/img/Round1.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-two">
                    <a href="#" class="info-boxtxt" id="ancFancyShapeCount">
                        <div class="info-box-content">
                            <div class="info-box-text">Fancy Shape</div>
                            <div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">0</span>
                            <img class="" src="../Content/img/fancysh.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-three">
                    <a href="#" class="info-boxtxt" id="ancFancyColorCount">
                        <div class="info-box-content">
                            <span class="info-box-text">Fancy Color</span><div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">
                                0
                            </span>
                            <img class="" src="../Content/img/fancycoloursh.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-four">
                    <a href="#" class="info-boxtxt" data-criteria="NewArrival" id="ancNewArrivalsCount">
                        <div class="info-box-content">
                            <div class="info-box-text">New Arrivals</div><div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">0</span>
                            <img class="" src="../Content/img/like_flat.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-five">
                    <a href="#" class="info-boxtxt" id="ancRevisedStonesCount">
                        <div class="info-box-content">
                            <div class="info-box-text">Revised Stones</div><div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">0</span>
                            <img class="" src="../Content/img/like_flat.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-six">
                    <a href="#" class="info-boxtxt" id="ancBestDealCount">
                        <div class="info-box-content">
                            <div class="info-box-text">Best Deal</div><div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">0</span>
                            <img class="" src="../Content/img/like_flat.png">
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="container col-lg-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#r_search">Recent Search</a></li>
                    <li><a data-toggle="tab" href="#s_search">Saved Search</a></li>
                    <li><a data-toggle="tab" href="#d_search">Demand Search</a></li>
                    <li><a data-toggle="tab" href="#p_orderpending">Pending Order Details</a></li>
                    <li><a data-toggle="tab" href="#o_orderdetail">View Order details</a></li>
                </ul>
                <div class="panel panel-body">
                    <div class="tab-content">
                        <div id="r_search" class="tab-pane fade in active">
                            <table class="table table-striped table-fixed dataTable no-footer tabledash" id="tblRecentSearch">
                                <thead>
                                    <tr class="rserachrow">
                                        <th>Date</th>
                                        <th>Total Found</th>
                                        <th>Criteria</th>
                                        <th>Load Result</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="s_search" class="tab-pane fade">
                            <table class="table table-striped table-fixed dataTable no-footer tabledash" id="tblSavedSearch">
                                <thead>
                                    <tr class="rserachrow">
                                        <th>Date</th>
                                        <th>Total Found</th>
                                        <th>Criteria</th>
                                        <th>Load Result</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="d_search" class="tab-pane fade">
                            <table class="table table-striped table-fixed dataTable no-footer tabledash" id="tblDemandSearch">
                                <thead>
                                    <tr class="rserachrow">
                                        <th>Date</th>
                                        <th>Total Found</th>
                                        <th>Criteria</th>
                                        <th>Load Result</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="p_orderpending" class="tab-pane fade">
                            <table id="tblPendingOrders" class="table table-striped table-fixed dataTable no-footer">
                                <thead class="bordertp">
                                    <tr role="row" class="table-head">
                                        <th class="tbnew">
                                            <label>#</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Order ID</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Created Date</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Amount</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Customer</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Company</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Actions</label>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="o_orderdetail" class="tab-pane fade">
                            <table id="tblCompletedOrders" class="table table-striped table-fixed dataTable no-footer">
                                <thead class="bordertp">
                                    <tr role="row" class="table-head">
                                        <th class="tbnew">
                                            <label>#</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Order ID</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Created Date</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Amount</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Customer</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Company</label>
                                        </th>
                                        <th class="tbnew">
                                            <label>Actions</label>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
</div>

@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Service/ServiceMethods.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlCustomerDashboard.js"></script>


}



