@{
    ViewBag.Title = "Customer";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<form style="display:none" id="frmPostSearch" method="post" action="/Inventory/SpecificSearchPost">
    <input type="hidden" name="Query" id="hfQuery" value="" />
</form>
<div class="content-wrapper">
    <section class="content">
        <div class="dashtop-box">
            <div class="row r10">
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-one">
                        <a href="#" class="info-boxtxt" id="ancRoundCount">
                            <span class="info-box-number">0</span>
                            <span class="info-box-text">Round Shape</span>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img1.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-two">
                        <a href="#" class="info-boxtxt" id="ancFancyShapeCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">Fancy Shape</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img2.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-three">
                        <a href="#" class="info-boxtxt" id="ancFancyColorCount">
                            <span class="info-box-number">0</span>
                            <span class="info-box-text">Fancy Color</span>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img3.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-four">
                        <a href="#" class="info-boxtxt" data-criteria="NewArrival" id="ancNewArrivalsCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">New Arrivals</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img4.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-five">
                        <a href="#" class="info-boxtxt" id="ancRevisedStonesCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">Revised Stones</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img5.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-six">
                        <a href="#" class="info-boxtxt" id="ancBestDealCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">Best Deal</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img6.svg"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="dash-box">
                    <div class="dash-head">Recent Search</div>
                    <div id="r_search" class="table-box">
                        <table class="table table-fixed dataTabletabledash" id="tblRecentSearch">
                            <thead>
                                <tr class="rserachrow">
                                    <th width="200">Date</th>
                                    <th width="150">Total Found</th>
                                    <th>Criteria</th>
                                    <th width="250">Load Result</th>
                                    <th width="150">Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dash-box">
                    <div class="dash-head">Saved Search</div>
                    <div id="s_search" class="dash-inner">
                        <table class="table table-fixed dataTable tabledash" id="tblSavedSearch">
                            <thead>
                                <tr class="rserachrow">
                                    <th>Date</th>
                                    <th>Total Found</th>
                                    <th>Criteria</th>
                                    <th>Load Result</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dash-box">
                    <div class="dash-head">Demand Search</div>
                    <div id="d_search" class="dash-inner">
                        <table class="table table-fixed dataTable tabledash" id="tblDemandSearch">
                            <thead>
                                <tr class="rserachrow">
                                    <th>Date</th>
                                    <th>Total Found</th>
                                    <th>Criteria</th>
                                    <th>Load Result</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="p_orderpending" class="tab-pane fade">
        Pending Order Details
        <table id="tblPendingOrders" class="table table-striped table-fixed dataTable no-footer">
            <thead class="bordertp">
                <tr role="row" class="table-head">
                    <th class="tbnew">
                        <label>#</label>
                    </th>
                    <th class="tbnew">
                        <label>Order ID</label>
                    </th>
                    <th class="tbnew">
                        <label>Created Date</label>
                    </th>
                    <th class="tbnew">
                        <label>Amount</label>
                    </th>
                    <th class="tbnew">
                        <label>Customer</label>
                    </th>
                    <th class="tbnew">
                        <label>Company</label>
                    </th>
                    <th class="tbnew">
                        <label>Actions</label>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="o_orderdetail" class="tab-pane fade">
        View Order details
        <table id="tblCompletedOrders" class="table table-striped table-fixed dataTable no-footer">
            <thead class="bordertp">
                <tr role="row" class="table-head">
                    <th class="tbnew">
                        <label>#</label>
                    </th>
                    <th class="tbnew">
                        <label>Order ID</label>
                    </th>
                    <th class="tbnew">
                        <label>Created Date</label>
                    </th>
                    <th class="tbnew">
                        <label>Amount</label>
                    </th>
                    <th class="tbnew">
                        <label>Customer</label>
                    </th>
                    <th class="tbnew">
                        <label>Company</label>
                    </th>
                    <th class="tbnew">
                        <label>Actions</label>
                    </th>
                </tr>
            </thead>
        </table>
    </div>-->

    </section>
</div>

@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Service/ServiceMethods.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlCustomerDashboard.js"></script>


}



