@{
    ViewBag.Title = "Update";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
}
<div class="content-wrapper">
    <div id="uiPanel1"></div>
    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-md-offset-2">
                        <div class="panel panel-primary">
                            <div class="panel-heading">@Resource.Inventory Upload</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="upload-info">
                                            @Resource.Select__xlxs__file_to_Update_RFID  - <span class="sample-format">
                                                <a href="~/Content/INV/Temp/RFIDupdateFormat.xlsx">@Resource.Download_sample_file_for_upload</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="search-linespace">
                                        <div class="col-lg-6">
                                            <div>
                                                <input type="file" id="fileUpload" class="form-control" name="fileUpload">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="textright">
                                                <button type="button" id="btnRFIDUpdate" class="btn btn-primary" value="RFIDupdate">@Resource.Upload <i class="fa fa-upload"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section script{
    <script src="~/Scripts/custom/Controller/CtrlRFIDUpdate.js"></script>
}


