
@{
    ViewBag.Title = "QC Downlaod";
    Layout = "~/Views/Shared/_LayoutMarketInventory.cshtml";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")

    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
}
<html>
<head>
</head>
<body class="sidebar-mini skin-black-light sidebar-collapse">
    <div class="content-wrapper">
        <section class="content">
            <div id="uiPanel1"></div>
            <div style="display:none;">
                <a id="ancMktInventoryDownload1" href="/Marketing/MarketExportToExcelInventoryDownload"></a>
            </div>
            <section id="MktsecGrid">
                <div class="customers-list-table">
                    <div class="customers-list-table">
                        <div>
                            <div class="inventory-box">
                                <div class="memo-title">
                                    <h2>Market Inventory - QC Download</h2>
                                </div>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-6 col-xs-12">

                                                <form id="frmFileids" class="panel-body paneltable">

                                                    <div class="col-lg-8 col-sm-6 col-xs-12">
                                                        <label class="control-label">
                                                            Discount Update
                                                        </label>
                                                        <div id="Fileids" class="inventory-form">

                                                            <label class="control-label">
                                                                Select file id
                                                            </label><br />

                                                            @*<select id="ddlFileids" name="Fileids" class="form-control"></select>*@

                                                            <select id="ddlFileids" multiple="multiple" required=required name="Fileids">
                                                            </select>


                                                            <button type="submit" id="btnUpdate" class="btn btn-primary upload-btn">Update Discount</button>
                                                        </div>
                                                    </div>
                                                </form>

                                           
                                                <form id="frmFileids2" class="panel-body paneltable">

                                                    <div class="col-lg-8 col-sm-6 col-xs-12">
                                                        <label class="control-label">
                                                            Discount Updated Download
                                                        </label>
                                                        <div class=" inventory-form">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-sm-4">
                                                                    <div id="FromDate" class="form-group">
                                                                        <div>
                                                                            <label class="control-label">From Date</label>
                                                                            <div>

                                                                                <input type="text" name="FromDate" value="" class="form-control datepicker" id="txtFromDate" placeholder="Select Date" />


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-sm-4">
                                                                    <div id="ToDate" class="form-group">
                                                                        <div>
                                                                            <label class="control-label">To Date</label>
                                                                            <div>
                                                                                <input type="text" name="ToDate" value="" class="form-control datepicker" id="txtToDate" placeholder="Select Date" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-4 col-sm-4">
                                                                    <div id="Fileids2" class="form-group">
                                                                        <div>
                                                                            <label class="control-label">Select File Id</label>
                                                                            <div>

                                                                                <select id="ddlFileids2" multiple="multiple" required=required name="Fileids2"></select>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div id="Download">
                                                                <div>

                                                                    <button id="btnDownload" class="btn btn-primary Download-btn">@Resource.Download</button>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </section>
        </section>
    </div>

    @section script{

        @Scripts.Render("~/bundles/DataTable/Script")
        <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
        <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
        <script src="~/Scripts/bootstrap-multiselect.js"></script>


        <script src="~/Scripts/custom/uiApp.js"></script>
        <script src="~/Scripts/custom/myApp.js"></script>

        <script type="text/javascript" language="javascript">
            var versionUpdate = (new Date()).getDate();
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "/Scripts/custom/Controller/CtrlQCFinalDownload.js?v=" + versionUpdate;
            document.body.appendChild(script);
        </script>

    }
</body>
</html>