
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post">
    <div class="banner-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"><img src="~/Content/img/banner.jpg" width="100%;"></div>
            </div>
        </div>
    </div>
    <div class="welcome-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="contact-main">                         
                        <h2>Contact Us</h2>
                        <div class="contact-inner">
                            <h4 class="add-title">Rosy Blue (India) Pvt. Ltd.</h4>
                            <p class="address">
                                Bharat Diamond Bourse,<br>
                                F Tower, FC 6017-18, 6th Floor,<br>
                                Bandra Kurla Complex,<br>
                                Bandra (East),<br>
                                Mumbai 400 051.
                            </p>
                            <p class="call-info">Tel.: <a href="tel:+912266650000">+91 22 66650000</a></p>
                            <p class="call-info fax-info">Fax: +91 22 2363 0248</p>
                            <p class="call-info email-info">E-Mail: <a href="mailto:shanay.mehta@rosyblue.com">shanay.mehta@rosyblue.com</a></p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div>
                        <h2>Map to Reach us</h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.885088514455!2d72.86807611446788!3d19.068789287092024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8ec3c48b201%3A0x5e132d86df3358d1!2sRosy+Blue+(India)+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1517579821201" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.967614531238!2d72.86260851442442!3d19.065161457268538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8df0bffffff%3A0x2fd8945d1915a0c3!2sBharat+Diamond+Bourse!5e0!3m2!1sen!2sin!4v1453462108302" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>*@
                        @*iframe src="https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d49172.751030181185!2d72.8302574!3d19.0927809!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d19.1258624!2d72.8809472!4m5!1s0x3be7c8ec3c48b201%3A0x5e132d86df3358d1!2sRosy+Blue+(India)+Pvt.+Ltd.%2C+Bharat+Diamond+Bourse%2C+F+Tower%2C+FC+6017-18%2C+6th+Floor%2C+Bandra+Kurla+Complex%2C+Bandra+(East)%2C+G+Block+BKC%2C+Bandra+Kurla+Complex%2C+Bandra+East%2C+Mumbai%2C+Maharashtra+400051!3m2!1d19.0687893!2d72.8702648!5e1!3m2!1sen!2sin!4v1538388447816" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

