@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <form method="post">
            <div class="banner-div">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12"><img src="~/Content/img/banner.jpg" width="100%;"></div>
                    </div>
                </div>
            </div>
            <div class="welcome-div">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div>
                                <h4 class="add-title">Rosy Blue Online Features</h4>
                                <div class="features-text">
                                    <p><strong>Rosy Blue Online</strong> is our latest endeavor to enrich, enhance and widen partnership with our global clients.</p>
                                    <p>The site allows clients to browse, select and order stones from our global inventory of certified stones for their needs and convenience. We want our partners to buy "just-in-time" and manage their inventory smartly by "Multiplying their inventory".</p>

                                    <p>The site offers stones certified (from 25 points upwards) by reputed third party grading laboratories like GIA, HRD, AGS, IGI etc., to ensure that our clients can access stocks which are fully trusted by their customers. Thereby enables our clients to obtain all their requirements from a single source, reducing their time and effort.</p>

                                    <p>Our innovative "Quick Search" feature of the site enables users view the entire stock, and select based on the 4C's in a single click. The site also enables the users to drill-down into an individual stone, and even view the image and certificate, where available. The entire user experience is backed up by the quality and service assurance of Rosy Blue, which has enabled us to become a global leader. Needless to say, all stocks are at competitive prices.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4"></div>

                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

