@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-div">
    <div class="container">
        <div id="uiPanel1"></div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <form class="login-box clearfix" id="frmResetPassword">
                    <h3 class="login-title">Reset Password</h3>
                    <div class="white-bg clearfix">
                        <div>
                            <input type="password" class="login-input" id="txtNewPassword" name="password" placeholder="New Password" />
                            <input type="password" class="login-input" id="txtConfirmPassword" name="confirmPassword" placeholder="Confirm Password" />
                        </div>
                        <p class="clearfix">
                            <input type="submit" class="btn btn-md btn-login pull-right" id="btnSubmit" value="Submit" />
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Scripts/custom/uiApp.js"></script>
    <script src="~/Scripts/custom/myApp.js"></script>
    <script src="~/Scripts/custom/Service/ServiceMethods.js"></script>
    <script src="~/Scripts/custom/Controller/CtrlForgetResetPassword.js"></script>
}



