@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-div">
    <div class="container">
        <div id="uiPanel1"></div>
        <div class="row">
            <h4 style="text-align:center;">Your old password is expired ,please reset your password.</h4>
            <div class="col-lg-4 col-lg-offset-4">
                <form class="login-box clearfix" id="frmResetPassword">
                    <h3 class="login-title">@Resource.Reset_Password</h3>
                    <div class="white-bg clearfix">
                        <div>
                            <input type="password" class="login-input" id="txtNewPassword" name="password" placeholder="New Password" />
                            <input type="password" class="login-input" id="txtConfirmPassword" name="confirmPassword" placeholder="Confirm Password" />
                        </div>
                        <p class="clearfix">
                            <input type="submit" class="btn btn-md btn-login pull-right" id="btnSubmit" value="Submit" />
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Scripts/custom/uiApp.js"></script>
    <script src="~/Scripts/custom/myApp.js"></script>
    <script src="~/Scripts/custom/Service/ServiceMethods.js"></script>
    <script src="~/Scripts/custom/Controller/CtrlForgetResetPassword.js"></script>

    
    <script type="text/javascript" language="javascript">


        var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteInspectAccess"].ToString())';
    //    alert(appSetting);
        var InspectBlock = true;
        var array = appSetting.split(",");
        $.each(array, function (i) {
            if (array[i] == $("#hfUserIds").val()) {
                InspectBlock = false;
            }

        });

        //alert($("#hfUserIds").val());
        if (InspectBlock == true) {
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                    return false;
                }

            }
        }


    </script>
}



