@section header{

}
<br />
<br />
<br />
<br />
<div class="welcome-div">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div>
                    <h4 class="add-title">Rosyblueonline Price Discount Policy</h4>
                    <div class="features-text">
                        <p>It is our pleasure to offer price discounts under </p>
                        <p>“THE FIXED PRICE SYSTEM” for CERTIFIED GOODS" See below for examples</p>
                        <p style="font-weight:bold;">Price Discount Examples (These are examples and not the actual price slabs)</p>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Total Purchase Value (USD)</th>
                                                <th>Discount (%)*</th>
                                                <th>Discount (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>27,000</td>
                                                <td>0.27</td>
                                                <td>72.90</td>
                                            </tr>
                                            <tr>
                                                <td>115,000</td>
                                                <td>1.15</td>
                                                <td>1,322.50</td>
                                            </tr>
                                            <tr>
                                                <td>200,000 and Above</td>
                                                <td>2.00 Fixed</td>
                                                <td>2% of total purchase Value</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <p>*Maximum price discount is 2% of total purchase value</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2"></div>

        </div>
    </div>
</div>
