<footer>
    <div class="footer-bg">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-6">
                    <div>©RosyBlue, @DateTime.Now.Year </div>
                </div>
                <div class="col-lg-6">
                    <ul class="footer-links pull-right">
                        <li class="">@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                        <li>@Html.ActionLink("Terms of Use", "TermsOfUse", "Home")</li>
                        <li>@Html.ActionLink("Pricing & Discount Policy", "PricingDiscountPolicy", "Home")</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>
