<form class="login-box clearfix">
    <h3 class="login-title">@Resource.Login</h3>
    <div class="white-bg clearfix">
        <div>
            <input type="text" class="login-input" name="Username" placeholder="@Resource.User_Name" />
            <input type="password" class="login-input" name="Password" placeholder="@Resource.Password" />
        </div>
        <p class="clearfix">
            <input type="submit" class="btn btn-md btn-login pull-right" value="@Resource.Login" />
        </p>
        <p class="no-margin">
            <a href="#" class="new-user" id="ancFP">Forgot Password?</a>
            <a href="/Home/Registration" class="new-user">New User? Please Register here</a>
        </p>
    </div>
</form>
