@{
    ViewBag.Title = "Customer Feedback FAQ";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

}

<div class="content-wrapper">
    <div class="row" id="uiPanel"></div>
    <input type="hidden" name="CurrentFAQID" id="hfCurrentFAQID" value="" />
    <input type="hidden" name="FAQTypeID" id="hfFAQTypeID" value="" />
    <input type="hidden" name="FAQTotalCount" id="hfFAQTotalCount" value="" />
    <section class="content">
        <div id="uiPanel1"></div>
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <div class="dash-box mt-10">
                        <div class="dash-head">
                            @Resource.Customer_Feedback
                        </div>
                        <div class="dash-inner custfeedback-box">
                            <div class="text-center mb-15" id="FAQCount">

                            </div>
                            <div id="FeedbackQuestions">

                            </div>
                            <div class="text-center">
                                <span id="PreviousFAQ">
                                    <button class="btn btn-default ml-15" id="btnFAQPrev" style="display:none;">Previous</button>
                                </span>
                                <span id="SubmitFAQ">
                                    <button class="btn btn-primary ml-15" id="btnFAQNext">Next</button>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

</div>


@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CustomerFeedbackFAQ.js"></script>
}

