<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="RosyblueonlineEntities" connectionString="metadata=res://*/RosyblueonlineEntity.csdl|res://*/RosyblueonlineEntity.ssdl|res://*/RosyblueonlineEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Rosyblueonline;user id=sa;password=dotnetsql@17;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RosyblueonlineEntities" connectionString="Data source=10.10.4.15;Database=Rosyblueonline_MigrationNew;user id=sa;password=dotnetsql@17;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RosyblueonlineEntities" connectionString="Data source=AMOHAN92;Database=Rosyblueonline_MigrationOnProcess;user id=sa;password=qwerty;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RosyblueonlineEntities" connectionString="Data source=10.10.4.15;Database=Rosyblueonline_MigrationOnProcess;user id=sa;password=dotnetsql@17;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RosyblueonlineEntities" connectionString="Data source=AJITH-PC;Database=Rosyblueonline;user id=sa;password=qwerty;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RosyblueonlineEntities" connectionString="Data source=10.10.4.15;Database=Rosyblueonline_MigrationOnProcess;user id=sa;password=dotnetsql@17;" providerName="System.Data.SqlClient"/>-->

    <!--<add name="RosyblueonlineEntities" connectionString="Data source=10.10.4.15;Database=Rosyblueonline_MigrationReadyToLive;user id=sa;password=dotnetsql@17;" providerName="System.Data.SqlClient"/>-->

    <!--<add name="RosyblueonlineEntities" connectionString="Data source=AJITHM92;Database=Rosyblueonline_MigrationOnProcess;user id=sa;password=dotnetsql@17;" providerName="System.Data.SqlClient"/>-->
    <add name="RosyblueonlineEntities" connectionString="Data source=109.169.12.92,1533;Database=NewRosyblueDemo2;user id=sa;password=dotnetsql@17;" providerName="System.Data.SqlClient" />
    <!--<add name="RosyblueonlineEntities" connectionString="Data source=Mohan;Database=NewRosyblueDemo;user id=sa;password=dotnetsql@17;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="86753090" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="InspectEmail_ID" value="support@rosyblueonline.com" />
    <add key="AntwerpEmail_ID" value="support@rosyblueonline.com" />
    <add key="Email_ID" value="support@rosyblueonline.com" />
    <!--<add key="Email_Password" value="rbonline09" />-->
    <add key="Email_Password" value="rbonline@09" />
    <!--<add key="Email_ID" value="codespirit5@gmail.com" />
    <add key="Email_Password" value="code@12345" />-->
    <add key="Email_SMTP" value="smtp.gmail.com" />
    <add key="Email_PORT" value="587" />
    <add key="Email_SSL" value="true" />

    <add key="CCemail" value="activity@rosyblueonline.com,ajith.mohan@rbonesource.com" />
    <add key="BCCemail" value="mohan.lal@rbonesource.com" />
    <add key="INSmailid" value="shanay.mehta@rosyblue.com,swapnil.rokade@rbonesource.com" />
    <add key="ReSendOtpAttempts" value="3" />
    <add key="ErrorPath" value="~/ErrorLogs/" />
    <add key="KycPath" value="~/Content/kyc/" />
    <add key="INVUpload" value="~/Content/INV/" />
    <add key="ExcelMailImage" value="~/Content/img/excel_logo.png" />
    <add key="TokenTimeOut" value="20" />
    <add key="MaxLoginAttempt" value="3" />
    <add key="LoginAttemptTimeOut" value="20" />
    <add key="EmailTemplate_PlaceOrderAdmin" value="~/Content/EmailTemplate/PlaceOrderMail-Admin.html" />
    <add key="EmailTemplate_PlaceOrderCustomer" value="~/Content/EmailTemplate/PlaceOrderMail-Customer.html" />
    <add key="EmailTemplate_ConfirmOrder" value="~/Content/EmailTemplate/ConfirmOrderMail.html" />
    <add key="EmailTemplate_PutOnMemo" value="~/Content/EmailTemplate/PutOnMemo.html" />
    <add key="EmailTemplate_CancelMemo" value="~/Content/EmailTemplate/CancelMemo.html" />
    <add key="EmailTemplate_CancelOrder" value="~/Content/EmailTemplate/CancelOrder.html" />
    <add key="EmailTemplate_SendMail" value="~/Content/EmailTemplate/SendMail.html" />
    <add key="EmailTemplate_EventSendMail" value="~/Content/EmailTemplate/EventSendMail.html" />
    <add key="EmailTemplate_EventInventoryChangeSendMail" value="~/Content/EmailTemplate/EventInventoryChangeSendMail.html" />
    <add key="EmailTemplate_SplitMemo" value="~/Content/EmailTemplate/SplitMemo.html" />
    <add key="EmailTemplate_CustomerRegistration" value="~/Content/EmailTemplate/CustomerRegistration.html" />
    <add key="EmailTemplate_SellMemo" value="~/Content/EmailTemplate/SellMemo.html" />

    <add key="CertipAddress" value="182.74.30.4" />
    <add key="AllowMails" value="true" />
    <add key="Domain" value="http://localhost:49710/" />
    <add key="ForgetPassword_ValidTimeout" value="30" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="180" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>